<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.virtroop.servicetest">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".ServiceTest"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.virtroop.servicetest.ServiceTest"/>
            </intent-filter>
        </service>
    </application>

</manifest>